    /* Language: css */
    /* Path: css\stylesheet.css */

    /* Import des fonts */

    @font-face {
        font-family: 'Marianne';
        src: url('../font/Marianne-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }


    @font-face {
        font-family: 'Marianne';
        src: url('../font/Marianne-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
    }


    @font-face {
        font-family: 'Marianne';
        src: url('../font/Marianne-Regular_Italic.woff') format('woff');
        font-weight: normal;
        font-style: italic;
    }


    @font-face {
        font-family: 'Marianne';
        src: url('../font/Marianne-Bold_Italic.woff') format('woff');
        font-weight: bold;
        font-style: italic;
    }


    /*Animation + Corps général */

    body {
        animation-fill-mode: forwards;
        overflow: visible;
        color: rgba(255, 255, 255, 0.75);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        font-family: 'Marianne', Arial, serif;
        background-attachment: fixed;
        background-color: #e1e6e1;
        background-image: url("../img/overlay.png"), url("../img/bg.jpg");
        background-repeat: repeat, repeat-x;
        background-size: 128px 128px, cover;
    }



    .home {
        background-color: rgba(255, 255, 255, 0.75);
        opacity: 0.95;
    }

    .home_page {
        animation: loading 2s;
        background-color: #000091;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        position: relative;
        border-radius: 25px;
        padding: 20px;
        margin: 20px;
        color: white;
        font-family: 'Marianne', Arial, serif;
        font-size: 20px;
        font-weight: normal;
    }

    .home_page h1 {
        font-size: 50px;
        font-weight: bold;
        text-align: center;
    }

    .home_page h4 {
        font-size: 25px;
        font-weight: normal;
        text-align: center;
        font-style: italic;
    }

    .home_page p {
        font-size: 20px;
        font-weight: normal;
        text-align: center;
    }

    /* Reduce the space between a h1 and a h4 tag */
    .home_page h1+h4 {
        margin-top: -25px;
    }


    /* Under the div class "home_page" */

    .home_page .Main_nav_bar {
        display: flex;
        justify-content: center;
    }

    #hobbies {

        display: flex;
    }

    .home_page .Main_nav_bar a {
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        margin: 10px;
    }

    p#note {
        font-size: 10px;
        font-weight: normal;
        text-align: center;
        font-style: italic;
    }


    p#secret {
        font-size: 5px;
        color: rgba(255, 255, 255, 0.30);
        font-weight: normal;
        text-align: center;
        font-style: italic;
    }


    /* Make all videos with rounded corners */
    video {
        border-radius: 25px;
    }


    /* Center all text under the div class "main_nav_bar" */
    .home_page .Main_nav_bar a {
        text-align: center;
    }

    /* Under the div, when a tag is overed, make a light animation */
    /* The animation is a slight underline appearing under the text by the bottom */
    .home_page .Main_nav_bar a:hover {
        animation: underline 0.5s;
        animation-fill-mode: forwards;
    }

    /* Under the div, when a tag is clicked, make a light animation */
    /* The animation is a slight underline appearing under the text by the bottom */
    .home_page .Main_nav_bar a:active {
        animation: underline 0.5s;
        animation-fill-mode: forwards;
    }


    /* End of Home Page */

    /* Hobbies */

    .intro {
        width: 50%;
        height: 50%;
        background-color: rgba(255, 255, 255, 0.75);
        color: black;
        opacity: 0.95;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        position: relative;
        margin: 5px;
        padding: 5px;
    }


    .read {
        width: 50%;
        height: 50%;
        background-color: #CEC0DE;
        margin-right: auto;
        color: black;
        opacity: 0.95;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        position: relative;
        margin: 5px;
        padding: 5px;
    }

    /* Below the read class, put the video class */
    .video {
        width: 70%;
        height: 50%;
        background-color: #94089E;
        margin-left: auto;
        color: black;
        opacity: 0.95;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        position: relative;
        margin: 5px;
        padding: 5px;
    }


    .video p{
        color: white;
    }




    .big_bald p {
        font-size: 40px;
        font-weight: bold;
        font-style: normal;
        align-items: flex-end;
    }


    .note p {
        font-size: 10px;
        font-weight: normal;
        font-style: italic;
    }

    /* Animation for the underline */
    @keyframes underline {
        0% {
            border-bottom: 0px solid white;
        }

        100% {
            border-bottom: 2px solid white;
        }
    }

    /* Make the text on the footer darker */
    footer {
        color: rgba(0, 0, 0, 0.75);
        text-align: center;
        font-weight: normal;
    }


    /* Navbar pour toutes les pages sauf index.html */

    .navbar {
        transition-property: all;
        background-color: #333;
        overflow: hidden;
        border-radius: 20px;
        margin: 5px;
        padding: 3px;
    }

    .navbar a {
        transition-property: all;
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .navbar a.active {
        background-color: #4CAF50;
        color: white;
    }

    .navbar a:hover {
        background-color: #030336;
        color: white;
    }

    /* Pour le bouton CV de la Navbar */

    .nav_bar {
        overflow: hidden;
        background-color: black;
        font-family: 'Marianne', Arial, sans-serif;
    }

    .nav_bar a {
        float: left;
        font-size: 16px;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .dropdown_cv {
        float: left;
        overflow: hidden;
    }

    .dropdown_cv .dropbtn-cv {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .nav_bar a:hover,
    dropdown_cv:hover .dropbtn-cv {
        background-color: red;
    }

    .dropdown_cv-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 50;
    }

    .dropdown_cv-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown_cv-content a:hover {
        background-color: #030336;
    }

    .dropdown_cv:hover .dropdown_cv-content {
        display: block;
    }




    /* Fonctions usuelles */

    @media screen and (max-width: 600px) {

        .nav_bar a,
        .dropdown_cv .dropbtn-cv {
            float: none;
            display: block;
            text-align: left;
        }

        .dropdown_cv-content a {
            float: none;
        }

        .dropdown_cv:hover .dropdown_cv-content {
            display: block;
        }
    }

    @keyframes loading {
        0% {
            filter: blur(5px);
            opacity: 0;
            transform: translateX(100%);
        }

        100% {
            filter: blur(0px);
            opacity: 1;
            transform: translateX(0%);
        }
    }